<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rpy.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.rpy.domain.Permission">
    <!--@mbg.generated-->
    <id column="perid" jdbcType="INTEGER" property="perid" />
    <result column="pername" jdbcType="VARCHAR" property="pername" />
    <result column="percode" jdbcType="VARCHAR" property="percode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    perid, pername, percode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from permission
    where perid = #{perid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from permission
    where perid = #{perid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="perid" keyProperty="perid" parameterType="cn.rpy.domain.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission (pername, percode)
    values (#{pername,jdbcType=VARCHAR}, #{percode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="perid" keyProperty="perid" parameterType="cn.rpy.domain.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pername != null">
        pername,
      </if>
      <if test="percode != null">
        percode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pername != null">
        #{pername,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        #{percode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rpy.domain.Permission">
    <!--@mbg.generated-->
    update permission
    <set>
      <if test="pername != null">
        pername = #{pername,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        percode = #{percode,jdbcType=VARCHAR},
      </if>
    </set>
    where perid = #{perid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rpy.domain.Permission">
    <!--@mbg.generated-->
    update permission
    set pername = #{pername,jdbcType=VARCHAR},
      percode = #{percode,jdbcType=VARCHAR}
    where perid = #{perid,jdbcType=INTEGER}
  </update>
</mapper>